* { padding: 0px; margin: 0px; user-select: none; -webkit-user-select: none; }

:root {
  --white: #FFFFFF;
  --grey: #F0F0F0;
  --red: rgb(168, 40, 40);

  --button: var(--red);
}

input { user-select: text; -webkit-user-select: text; }

header img {
  height: 100%;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0px;
  padding: 0px;
  background: var(--white);
  font-family: Arial;
  font-weight: bold;
  font-size: 50px;
  position: absolute;
  overflow: hidden;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 10vh;
  text-align: center;
  line-height: 10vh;
  color: var(--red);
}

main {
  width: 100vw;
  height: 50vh;
  position: absolute;
  top: 10vh;
  text-align: center;
  background: var(--grey);
}

.time {
  line-height: 45vh;
  font-size: 30vh;
  height: 45vh;
}

.control {
  height: 5vh;
  padding: 0px;
  box-sizing: border-box;
  line-height: 0px;
}

.button {
  text-align: center;
  display: inline-block;
  height: 5vh;
  width: 5vh;
  font-size: 3vh;
  background: var(--button);
  color: var(--white);
  border: 0px;
  line-height: 5vh;
  box-sizing: border-box;
  cursor: pointer;
}

section {
  position: absolute;
  width: 50vw;
  height: 40vh;
  bottom: 0vh;
  box-sizing: border-box;
  text-align: center;
}

.left {
  left: 0vh;
  border-right: 5px solid var(--grey);
}

.right {
  right: 0vh;
  border-left: 5px solid var(--grey);
}

.counter {
  width: 12vw;
  height: 12vw;
  line-height: 12vw;
  text-align: center;
  display: inline-block;
  margin-right: 5vw;
  margin-left: 5vw;
  cursor: pointer;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.count {
  font-size: 10vw;
  position: absolute;
  box-sizing: border-box;
  overflow: hidden;
  top: 0px;
  left: 0px;
  display: block;
  width: 100%;
  height: 100%;
  background: var(--grey);
}

.counter .button {
  position: absolute;
  bottom: -5vh;
  left: 0;
  width: 12vw;
}

.counter .minus {
  background: rgb(168, 40, 40)
}

.counter .name {
  top: -5vh;
  outline: none;
  background: rgb(168, 40, 40)
}

.twoRinks {
  display: none;
}

.center {
  width: 50%;
  margin: auto;
  float: none;
  position: static;
}

.rinks {
  width: 100vw;
  position: absolute;
  top: 60vh;
}
